__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.env.*
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.git
.gitignore
tests/
*.md
.DS_Store
*.sqlite
*.db